* {
    margin: 0px;
    padding: 0px;
}

#maincont {
    justify-content: center;
    text-align: center;
    margin-top: 300px;
}

h1 {
    font-size: 70px;
    font-family: 'Cantarell', sans-serif;
}

#supreme {
    font-family: 'Cantarell', sans-serif;
}

#launchbttn {
    border-style: none;
    background-color: red;
    color: white;
    padding: 10px;
}

#loginbttn {
    border-style: none;
    background-color: red;
    color: white;
    padding: 10px;
}

#formcont {
    margin: 40px;
    padding-top: 50px;
}

#descriptioninput {
    padding-top: 50px;
    padding-bottom: 50px;
}

#finishbttn {
    border-radius: 30px;
    border-width: 10px;
}

#cardcont {
    margin: 40px;  
}

#newposttitle {
    text-align: center;
}
